// Place all the styles related to the party controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wish--image {
  max-width: 400px;
  max-height:400px;
}

.further-wish {
  border-top: thick solid grey;
}
